.detailsWeather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.iconContainer {
  z-index: 0;
}

.icon {
  width: 100px;
  height: 100px;
  transform: scale(2);
  z-index: 1;
}

.cityStyle{
  font-size: 45px;
  font-weight:400;
}

.temperatureTodayStyle{
  font-size: 50px;
  font-weight: 700;
}