.detailsWeather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.detailsWeatherLight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  color: #0b131e !important;
}

.iconContainer {
  z-index: 0;
}

.cityStyle {
  font-size: 45px;
  font-weight: 400;
}

.temperatureTodayStyle {
  font-size: 50px;
  font-weight: 700;
}

.iconImage {
  height: 100px;
  transform: scale(2);
  z-index: 1;
}

@media screen and (max-width: 550px) {
  .detailsWeather {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .icon {
    width: 50px;
    height: 40px;
  }
  .iconImage {
    margin-top: 40px;
  }
  .detailsWeatherLight{
      text-align: center;
  }
}
